ImportLibrary/Faust-*
ImportLibrary/Downloads/*
ImportLibrary/Xcode/build/*
ImportLibrary/Xcode/CMakeFiles/*
ImportLibrary/Xcode/cmake_*
ImportLibrary/Xcode/CMakeCache.txt
ImportLibrary/Xcode/Makefile

ImportLibrary/.DS_Store
ImportLibrary/Xcode/.DS_Store
Faust-2.79.3/.DS_Store
Faust-2.79.3/include/.DS_Store